@mixin flexCenter($direction, $align-items, $justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $direction;
}

@mixin position($position, $top, $left) {
  position: $position;
  top: $top;
  left: $left;
}

@mixin style($background, $height, $width, $margin, $padding) {
  background: $background;
  height: $height;
  margin: $margin;
  width: $width;
  padding: $padding;
}

/*--------------------------------------------------------------
******* UTILITIES *******
--------------------------------------------------------------*/
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  color: white;
  background-color: black;
  overflow-x: hidden;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
}

.active {
  color: red;
}

.show {
  display: block !important;
}

.container {
  width: 90%;
  text-align: center;
  margin: auto;
}

.center {
  display: flex;
  margin: auto;
}

.btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 30px 0 40px;
  border: 2px solid #fff;
  color: #fff;
  &:hover {
    background: #044433;
    border: 2px solid #044433;
  }
}
@media (max-width: 500px) {
  .btn-get-started {
    font-size: 10px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 10px;
  }
}
.floated {
  float: right !important;
}

.glass {
  background: rgba(255, 255, 255, 0.2);
  padding: 12px;
  box-shadow: 5px 8px 2px 0px rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 8px;
  background-clip: padding-box;
  backdrop-filter: blur(500px);
}

/*--------------------------------------------------------------
******* HEADER SESSION *******
--------------------------------------------------------------*/
header {
  background: rgb(10, 10, 10);
  padding: 1rem;
  border-bottom: 3px solid #333;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.nav-bar {
  @include flexCenter(row, center, space-between);
  margin: 0 1rem;
  .logo span {
    font-size: 3rem;
    color: rgb(245, 240, 240);
  }
  nav {
    @include flexCenter(row, center, center);
  }
  .hamburger {
    display: none;
    .menu-btn {
      @include flexCenter(row, center, center);
      margin: auto;
      position: relative;
      width: 50px;
      height: 50px;
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      background: rgba(0, 0, 0, 0.9);
      &:hover {
        background: rgba(0, 0, 0, 0.9);
        border-radius: 50%;
      }
    }
    .menu-btn__burger {
      width: 30px;
      height: 4px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(80, 59, 51, 0.2);
      transition: all 0.5s ease-in-out;
    }

    .menu-btn__burger:before,
    .menu-btn__burger:after {
      content: "";
      width: 30px;
      height: 4px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
      transition: all 0.5s ease-in-out;
      transform: translateY(-10px);
      position: absolute;
    }

    .menu-btn__burger:after {
      transform: translateY(10px);
    }

    //ANIMATION
    .menu-btn.open .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }

    .menu-btn.open .menu-btn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    .menu-btn.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }

  .nav-menu {
    li {
      display: inline-block;
      margin: 0.5rem;
      & :hover {
        padding: 10px;
        border-radius: 2px;
        background: #fff;
        color: rgb(15, 15, 15);
        font-weight: 700;
      }
      a {
        color: rgb(197, 194, 194);
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    justify-content: flex-end;
    padding: 1rem 2rem;

    .logo span {
      font-size: 2.5rem;
    }
  }
  .hamburger {
    display: block !important;
  }

  .nav-menu {
    display: none;
    background: rgba(22, 22, 22, 0.9);
    width: 100%;
    min-height: 50vh;
    border: 3px solid #333;
    border-radius: 10px;
    padding-top: 3rem;
    position: absolute;
    top: 103%;
    left: 0;
    z-index: 999;
    text-align: center;
    transition: all 0.2s ease-in;
    overflow: hidden;
    li {
      display: block !important;
      padding: 0.5rem 0 !important;
    }
  }
}

/*--------------------------------------------------------------
******* HERO SESSION *******
--------------------------------------------------------------*/
.hero {
  width: 100%;
  min-height: 90vh;
  background-size: cover;
  position: relative;
}

.hero:before {
  content: "";
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), black);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero {
  background: url("../img/pexels-photo-1714208.jpeg") center center;
  background-size: cover;
  .container {
    padding-top: 80px;
  }
  h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
  }

  .service {
    @include flexCenter(row, flex-start, center);
    transform: translatey(5vh);
    letter-spacing: 1px;
    padding-bottom: 1rem;
    font-family: "Raleway", sans-serif;
    .icobox {
      color: rgb(241, 237, 237);
      padding: 2rem;
      p {
        margin: 1rem 0 0 0;
      }
      h3 {
        margin: 2.5rem 0 0 0;
      }
      i {
        border-radius: 50%;
        padding: 1rem;
      }

      .icofont-people {
        background: rgb(155, 130, 0);
      }
      .icofont-search-job {
        background: rgb(73, 73, 158);
      }
      .icofont-unity-hand {
        background: rgb(04, 136, 80);
      }
    }
  }
}

@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
  #hero {
    .container {
      padding-top: 100px;
    }
    .service {
      transform: translatey(15vh);
    }
  }
}

@media (max-width: 768px) {
  .hero {
    height: 100%;
  }
  #hero {
    .container {
      padding-top: 60px;
    }

    h1 {
      font-weight: 200;
      font-size: 32px;
      line-height: 36px;
    }
    .service {
      flex-direction: column;
      gap: 1rem;
      transform: translatey(0vh);
      font-family: "Raleway", sans-serif;

      .icobox {
        background: rgba(0, 0, 0, 0.8);
        &:nth-child(1) {
          border: 2px solid rgb(155, 130, 0);
        }
        &:nth-child(2) {
          border: 2px solid rgb(73, 73, 158);
        }
        &:nth-child(3) {
          border: 2px solid rgb(04, 136, 80);
        }
      }
    }
  }
}

/*--------------------------------------------------------------
  *******  UTILITIES FOR ALL SERVICE SECTIONS *******
  --------------------------------------------------------------*/
.first-service__one {
  background: url("../img/pexels-photo-2330137.jpeg") center center;
  background-size: cover;
}
.service2 {
  background: rgb(73, 73, 158) !important;
}
.first-service__two {
  background: url("../img/pexels-photo-3981749.jpeg") center center;
  background-size: cover;
}
.service-2 h1:before {
  background: rgb(73, 73, 158) !important;
}
.first-service__three {
  background: url("../img/pexels-photo-2330137.jpeg") center center;
  background-size: cover;
}
.service3 {
  background: rgb(04, 136, 80) !important;
}
.service-3 h1:before {
  background: rgb(04, 136, 80) !important;
}

@media (min-width: 768px) {
  .service-2 :nth-child(1) {
    order: 2;
  }
}

.boxed {
  display: flex;
  width: 80%;
  position: relative;
  margin: 4rem 0;
}
.boxed > div {
  display: flex;
  padding: 2rem;
  background: rgb(155, 130, 0);
}

.boxed :nth-child(1) {
  .ico i {
    padding: 1rem;
    border: 2px solid;
    border-radius: 50%;
  }
}

.boxed :nth-child(2) {
  background: rgba(22, 21, 21, 0.7);
  h1 {
    padding: 1rem;
  }
  h1:before {
    content: "";
    width: 100px;
    background: rgb(155, 130, 0);
    height: 5px;
    position: absolute;
    transform: translatey(-30px);
  }
}

.boxed :nth-child(3) {
  background: rgba(22, 21, 21, 0.7);
  padding: 1rem;
}

@media (max-width: 768px) {
  .boxed {
    flex-direction: column;
    margin: 4rem 0;
  }
  .boxed :nth-child(1) {
    .ico {
      margin: 0 1rem;
    }
  }
  .boxed > div {
    padding: 1rem;
  }

  .boxed :nth-child(2) {
    h1 {
      padding: 1rem 24rem 0 1rem;
    }
    h1:before {
      transform: translatey(-20px);
    }
  }
  .boxed :nth-child(3) {
    padding: 0 2rem 1rem 2rem;
  }
}

.service-message {
  display: flex;
  gap: 2rem;
  width: 70%;
  position: relative;
  margin-top: 1rem;
}
.number {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 100px;
  align-self: flex-start;
}
.text {
  margin: 1rem 2rem;
}
@media (max-width: 768px) {
  .service-message {
    gap: 0;
    width: 95%;
  }
  .number {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 80px;
  }
}
/*--------------------------------------------------------------
  *******   SAMPLE SECTION *******
  --------------------------------------------------------------*/
.sample-headlines {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 4rem 2rem;
  min-height: 50vh;
  background: linear-gradient(
    rgb(155, 130, 0),
    rgb(04, 136, 80),
    rgb(73, 73, 158)
  );
  // line-height: 1.5rem;
  .sample__item {
    gap: 1.5rem;
    z-index: 1;
    i {
      background: linear-gradient(to bottom right, yellow, red);
      border-radius: 50%;
      padding: 0.5rem;
      display: flex;
      margin: auto;
    }
    .sample__text {
      h2 {
        margin-bottom: 1rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .sample-headlines {
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    padding: 2rem 1rem;
    line-height: 1.5rem;
  }
}
@media (max-width: 600px) {
  .sample-headlines {
    grid-template-columns: 1fr;
    grid-gap: 3rem;
    padding: 4rem 2.5rem;
    line-height: 1.5rem;
  }
}

/*--------------------------------------------------------------
  *******  CONNECT SECTION *******
  --------------------------------------------------------------*/
.connect {
  display: flex;
  gap: 2rem;
  margin: 2rem auto;
  width: 90%;
  //background: red;
}
.connect-ico {
  display: grid;
  grid-template-columns: 1fr 1fr;
  .connect-ico__text {
    display: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
.connect__icons ul {
  display: flex;
  position: relative;
  margin: auto;
  li a {
    width: 40px;
    height: 40px;
    background: white;
    text-align: center;
    line-height: 40px;
    font-size: 28px;
    margin: 0 10px;
    display: block;
    border: 2px solid #fff;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    z-index: 1;
    .icon {
      position: relative;
      color: #0c0c0c;
      transition: 0.5s;
      z-index: 3;
    }
  }
  li a:hover .icon {
    color: #fff;
    transform: rotate(360deg);
  }
  li a:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: 0.5s;
    z-index: 2;
  }

  li a:hover:before {
    top: 0;
  }
  li:nth-child(1) a:before {
    background: #55acee;
  }
  li:nth-child(2) a:before {
    background: linear-gradient(to bottom right, yellow, red);
  }
  li:nth-child(3) a:before {
    background: #3b5999;
  }
  li:nth-child(4) a:before {
    background: #09090a;
  }
}

.connect__text {
  font-size: 3rem;
  padding: 1rem;
  flex: 40%;
  text-transform: lowercase;
  & span {
    color: rgb(73, 73, 158);
  }
}

@media (max-width: 900px) {
  .connect {
    flex-direction: column;
  }
  .connect-ico {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .connect-ico__text {
      display: block;
      padding: 3rem;
      text-transform: lowercase;
      & span {
        color: rgb(73, 73, 158);
      }
    }
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .connect__text {
    display: none;
  }
}
@media (max-width: 600px) {
  .connect {
    margin: auto;
  }
  .connect-ico {
    flex: 40%;
    display: grid;
    grid-template-columns: 1fr;
    .connect-ico__text {
      display: block;
      padding: 3rem;
    }
    img {
      margin-top: 2rem;
    }
  }
  .connect__text {
    display: none;
  }
}

/*--------------------------------------------------------------
  *******  FOOTER SECTION *******
  --------------------------------------------------------------*/
.footer {
  display: flex;
  margin: auto;
  min-height: 40vh;
  background: rgb(14, 13, 13);
  padding: 1rem;
}
.footer-foot {
  text-align: center;
  padding: 1rem;
}

.contact {
  display: inline-block;
  padding: 1rem;
  margin: 2rem;
  flex: 50%;
}

.contact-form {
  form {
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & :nth-child(1),
    :nth-child(2),
    :nth-child(3),
    :nth-child(4) {
      width: 47%;
    }
  }
  input:hover,
  :focus,
  :active {
    outline: none;
  }
  input,
  textarea {
    padding: 10px 10px;
    margin: 0.3rem;
    width: 100%;
  }
  textarea {
    height: 100px;
    resize: none;
  }
  .connect__icons {
    margin-right: 4rem;
  }
  button {
    width: 100px;
    padding: 10px 20px;
    margin: 0.3rem;
    border: none;
    border-radius: 2px;
    background: rgb(04, 136, 80);
    color: #fff;
    &:hover {
      background: rgb(3, 121, 3);
    }
  }
}

.contact-us {
  display: inline-block;
  padding: 2rem;
  flex: 50%;
  p {
    line-height: 1.5;
    margin-top: 1rem;
  }
  h3 {
    margin: 0.5rem 0;
  }
  h1 {
    color: rgb(04, 136, 80);
    position: relative;
    margin-bottom: 2rem;
  }
  h1:after {
    content: "";
    background: rgb(04, 136, 80);
    height: 3px;
    width: 150px;
    position: absolute;
    top: 40px;
    left: 0;
  }
}

@media (min-width: 768px) and (max-width: 900px), (max-width: 500px) {
  .contact-form {
    form {
      flex-direction: columns;
      & :nth-child(1),
      :nth-child(2),
      :nth-child(3),
      :nth-child(4) {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    margin: auto;
    padding: 1rem;
  }

  .contact {
    padding: 0rem;
    margin: 0rem;
  }

  .contact-form {
    padding: 2rem;
    .connect__icons {
      display: flex;
      margin: auto;
    }
  }

  .contact-us {
    text-align: center;
    h3 {
      margin-bottom: 2rem;
    }
    h1:after {
      content: "";
      background: rgb(04, 136, 80);
      position: absolute;
      width: 150px;
      top: 40px;
      left: 50%;
      margin-left: -75px;
    }
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 999;
}

.back-to-top i {
  @include flexCenter(row, center, center);
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #009970;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #00805d;
  color: #fff;
}
